{% extends 'base.html' %} {% block content %}
{% load render_table from django_tables2 %}
      <div class="card #fafafa">
		<div class="card-content #212121">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
			<p class="flow-text"><b>ID:</b> {{ data }} <br> 
			<b>Имя:</b> {{ vorname }} <br>
			<b>Фамилия:</b> {{ nachname }} <br>
			<b>Краткая информация:</b> {{ bio }} <br>
			<b>Город:</b> {{ location }} <br>
			<b>Дата рождения:</b> {{ birth_date }} <br>
			<b>Карма:</b> {{ karma }} <br>
			<b>Ссылка ВК:</b> <a href={{ urlVK }} <br>{{ urlVK }}</a><br>
			<b>Телефон:</b> {{ phone }} <br>
			<b>Электронная почта:</b> {{ mail }} <br>
		</div>
		<div class="card-action">
		{% if user.is_authenticated and flag %}
			<a href="/users/{{slug}}/change" class="btn waves-effect waves-light  purple darken-4">Изменить личные данные</a>
		{% endif %}
		<a href="/users/{{slug}}/events" class="btn waves-effect waves-light  purple darken-4">Мероприятия</a></p>
		</div>
	  </div>
{% endblock content %}
