{% extends 'base.html' %} {% block content %}
{% load render_table from django_tables2 %}
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
			  <ul class="collection with-header">
				<li class="collection-header"><h4><b>Прошедшие мероприятия</b></h4></li>
				
			{% if length != 0 %}
				{% for event in data %}<br>
					<li class="collection-item"><p class="flow-text">{{ event }}</p></li>
				{% endfor %}
				</ul>
			{% else %}
				Список прошедших мероприятий пуст<br>
			{% endif %}
			<a href="/accounts/profile" class="btn waves-effect waves-light  purple darken-4">Профиль</a>
			<a href="/accounts/profile/events" class="btn waves-effect waves-light  purple darken-4">Мероприятия</a>
		</div>

{% endblock content %}
