{% load static %}
<html>
    <head>
        <title>Volonteers Inc.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		 <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    
            
    </head>
    <body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<nav>
			<div class="nav-wrapper  red lighten-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-12 col-sm-12">
							<a href="/" class="brand-logo">Volonteers Inc.</a>
						</div>
						<div class="col-md-8 col-12 col-sm-12">
							<ul  class="right hide-on-med-and-down">
								<li><a href="#">Events</a></li>
								<li><a href="sass.html">Account</a></li>
								<li><a href="badges.html">Registration</a></li>
								<li><a href="{% url 'login'%}">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-21 col-lg-12 col-xl-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>