{% load static %}
<html>
    <head>
        <title>Volonteers Inc.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		 <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<style>
		  body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		  }

		  main {
			flex: 1 0 auto;
		  }
		  
		  blockquote{
			  margin: 20px 0;
			  padding-left: 1.5rem;
			  border-left: 5px solid #4a148c;
		  }
		</style>
            
    </head>
    <body>
		<header class="page-footer black">
		  <div class="container">
            <div class="row">
              <div class="col" style="text-align: left; line-height: 70px; ">
                <a href="/" class="brand-logo">
				  <img style="height: 80px;" src="/media/images/logo.png">
				</a>
              </div>
              <div class="col offset-12 s12 l8 right-align" style="text-align: right; line-height: 70px;">
			  <p class=" white-text" style="font-size: 20px; white-space: nowrap;">
				<a href="/museums" style="color: #ffffff"><b>Музеи</b></a>
						|
                {% if user.is_authenticated %}
						
						<b>Вы вошли как:</b> {{ user.get_username }}
						|
						<a href="/accounts/profile" style="color: #ffffff"><b>Профиль</b></a>
						|
						<a href="{% url 'logout'%}?next={{request.path}}"  style="color: #ffffff"><b>Выход</b></a>
						</p>
					{% else %}
						<p class="flow-text white-text">
						<a href="{% url 'login'%}" style="color: #ffffff"><b>Вход</b></a>
						|
						<a href="/accounts/register"  style="color: #ffffff"><b>Регистрация</b></a>
						</p>
					{% endif %}
              </div>
            </div>
          </div>
		</header>
		<main>
		<br>
		<div class="container">
			<div class="row">
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		</main>
		<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Политехнический музей</h5>
                <p class="grey-text text-lighten-4">один из крупнейших научно-технических музеев мира.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Ссылки</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://polymus.ru/ru">Московский Политех</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://vk.com/polutech.one1">ВКонтакте</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/polytech.one/">Instagram</a></li>
    			</ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 VK hackathon by Tragic City
            </div>
          </div>
        </footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>