{% extends 'base.html' %} {% block content %}
<form action="/users/{{slug}}/change" method="post">
{% csrf_token %}
	<div class="field-title">
	{% if flag %}
		{{ form.as_p }}
		<button class="btn waves-effect waves-light  purple darken-4" type="submit" >OK</button><br>
		'Нажимая кнопку 'OK' вы принимаете Согласие на обработку персональных данных в соответствие с Федеральным законом РФ от 27 июля 2006 года № 152-ФЗ «О персональных данных» 
	{% else %}
		Недостаточно прав
	{% endif %}
	</div>
    
</form>
{% endblock content %}