{% extends 'base.html' %} {% block content %}
			<div class="card #fafafa">
				<div class="card-content #212121">
					<h1>{% block title %} {{ title }} {% endblock title %}</h1>
					<blockquote>
					<div class="card-image">
						  <img src="{{ image }}">
						</div>
					<p class="event_date"><b>Начало мероприятия:</b> {{ beginning_at }} <br> <b>Конец мероприятия:</b> {{ ending_at }}</p>
					<p class=" text-muted">{{ author }} | {{ created_on }}</p>
					</blockquote>
					<p class="card-text flow-text">{{ content | safe }}</p>
				</div>
				<div class="card-action">
					{% if user.is_authenticated and user.is_staff%}
						<a href="tables"><i class="material-icons">file_download</i></a>
					{% endif %}
					{% if user.is_authenticated %}
						{% if is_reg %}
							<a href="event_register" class="btn waves-effect waves-light  purple darken-4" disabled>Вы уже зарегистрированы</a>
						{% else %}
							{% if timeOK %}
								{% if ka_ch and not user.is_staff %}
									<a href="event_register" class="btn waves-effect waves-light  purple darken-4">Зарегистрироваться</a>
								{% else %}
									{% if user.is_staff %}
										<a href="event_register" class="btn waves-effect waves-light  purple darken-4" disabled>Модератор не может регистрироваться на мероприятие</a>
									{% else %}
										<a href="event_register" class="btn waves-effect waves-light  purple darken-4" disabled>Для регистрации на мероприятие не хватает кармы</a>
									{% endif %}
								{% endif %}
							{% else %}
								<a href="event_register" class="btn waves-effect waves-light  purple darken-4" disabled>Регистрация закрыта</a>
							{% endif %}
						{% endif %}
					{% else %}
						<p class="flow-text">
						<b>Для того, чтобы зарегистрироваться на это мероприятие,</b> <a href="{% url 'login'%}" style="color: #4a148c; font-size: 20px;">войдите</a><b>или</b> <a href="/accounts/register" style="color: #4a148c;">зарегистрирутесь.</a>
						</p>
					{% endif %} 
				</div>
			</div>
			
					<ul class="collection with-header">
					<li class="collection-header"><h4><b>Волонтеры</b></h4></li>
							{% for profile in uprofiles %}
								<li class="collection-item"><a href='/users/{{profile.user_url}}/'><p class="flow-text">{{ profile.vorname }} {{profile.nachname}}</p></a>
								{% if user.is_authenticated and user.is_staff%}
								<a href='/users/{{profile.user_url}}/karmaplus'><i class="material-icons">arrow_upward</i></a>
								<a href='/users/{{profile.user_url}}/karmaminus'><i class="material-icons">arrow_downward</i></a>
								{% endif %}
							{% endfor %}
					</ul>
{% endblock content %}
